# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.env

# Django
*.sqlite3
/staticfiles/
media/

# Poetry
.poetry/
__pypackages__/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
